@import "~bulma/sass/utilities/initial-variables"

// Config vars
$primary: #FFF
$primary-invert: #000
$background: #000

body
  min-height: 100vh
  background-color: $background
  color: $white

.talking-point
  padding: 3em
  width: 20em
  height: 20em

.talking-point__title
  font-size: 1.5em
  font-weight: 600

.rebuttal-pane
  position: absolute
  left: 0
  right: 0
  transform: translate3d(0, 0, 0)
  padding: 3em
  min-height: 20em

.rebuttal-pane__markdown * + *
  margin-top: 1em

.rebuttal-pane a
  color: currentColor
  text-decoration: underline

.rebuttal-pane h2
  font-size: 1.5em
  font-weight: 600

.rebuttal-pane__close-button
  position: absolute
  top: 2em
  right: 1em
  background: none
  border: none
  -webkit-appearance: none

@import "~bulma"
