@import "~bulma/sass/utilities/initial-variables"

// Config vars
$primary: #FFF
$primary-invert: #000
$background: #000
$text: #FFF


@import "~bulma"

html, body
  min-height: 100vh
  background-color: $background
  color: $white


a
  color: rgba(255, 255, 255, 0.8)
  text-decoration: underline

  &:visited
    color: rgba(255, 255, 255, 0.8)

  &:hover
    color: white

.page-wrapper
  display: flex
  flex-direction: column
  min-height: 100vh
  align-items: center

.page
  max-width: 1440px
  width: 100%
  padding: 2em 0

.language-toggle__button
  padding: 0 0.5em
  background: none
  border: none
  -webkit-appearance: none
  appearance: none
  color: inherit
  font-size: inherit
  font-weight: bold

  &:hover:not(&--selected)
    text-decoration: underline

  &:not(:first-child)
    border-left: 2px solid white

.page__header
  display: flex
  flex-direction: row
  font-size: 1.5em

  .page__header-spacer
    flex: 1

.page__header-link
  font-weight: bold
  text-decoration: none

.talking-points-grid
  position: relative
  margin-top: 2em

  &__talking-points-wrapper
    list-style-type: none

  &__rebuttal-pane-wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    transform: translate3d(0, 0, 0)
    transition: height 250ms ease, opacity 250ms linear

.talking-point
  padding: 2.5em
  width: 24em
  height: 24em

  &:focus,
  &--is-selected
    z-index: 1

  &__category
    font-size: 1.125em
    font-weight: bold
    text-transform: uppercase
    opacity: 0.5

  &__title
    margin-top: 0.5em
    font-size: 2em
    font-weight: bold
    line-height: 1.3

.rebuttal-pane

  &__content
    min-height: 20em
    padding: 3em

  &__markdown
    font-size: 1.5em

    * + *
      margin-top: 1em

  h2
    font-size: 1.5em
    font-weight: 600

  &__close-button
    position: absolute
    top: 2em
    right: 1em
    background: none
    border: none
    -webkit-appearance: none
    color: inherit

  &__close-icon
    fill: currentColor
